<%# app/views/clients/new.html.erb %>
<div class="flex flex-col relative w-full">
    <div class="flex justify-between items-center mb-6">
        <h1 class="text-5xl">New Client</h1>
    </div>

    <%= render 'form', client: @client %>
</div>